<footer class="p2pu-footer">

	<div class="container">

		<ul class="footer-social clearfix">
			<li><a target="_blank" href="https://discourse.mozilla-community.org/c/firefox-student-ambassadors"><i class="fa fa-weixin"></i></a>
			</li>
			<li>	<a target="_blank" href="https://twitter.com/mozstudents">
					<i class="fa fa-twitter"></i>
			        </a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/Firefox.Student.Ambassadors/">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>

		<hr>
		<div class="col-md-4 first">
			<h4>What is Firefox Student Ambassadors?</h4>

			<p>
				Firefox Student Ambassadors are individuals who are passionate about Mozilla, the open web, and the many benefits of Firefox and its products.

				They are a global pack of do-gooders and dedicated defenders of the Web! Creative and resourceful, FSAs lead campaigns and projects at their colleges and in their communities to encourage others to contribute to the Mozilla mission and utilize our products. Not just that, Firefox Student Ambassadors are web educators and strives to keep the power of the Web in hands of users everywhere.

				Student Ambassadors are given the opportunity to learn new skills, earn recognition, and advance their leadership in not just the Mozilla community, but in their school and local community.
			</p>

		</div>

		<div class="col-md-4 col-md-offset-1">
			<h4>Links</h4>
			<ul class="footer-links">
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="https://www.mozilla.org/en-US/contribute/studentambassadors/">
						Firefox Student Ambassadors
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="https://wiki.mozilla.org/StudentAmbassadors">
						 Wiki
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="https://www.mozilla.org/en-US/contribute/">
						 Volunteer with Mozilla!
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&source=mozillaorg_footer&ref=EOYFR2014&utm_campaign=EOYFR2014&utm_source=mozilla.org&utm_medium=referral&utm_content=mozillaorg_footer#page-1">
						Donate
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="mailto:firefoxstudents@mozilla.com">
						Email: firefoxstudents[at]mozilla.com
					</a>
				</li>
			</ul>
		</div>


		<div class="pull-right col-md-3 cc-by-sa">
			<img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon">

			<p>
				Unless otherwise noted, all the materials on this site are licensed under a
				<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
			</p>
		</div>

	</div>

</footer>

